<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    </script>
</head>

<body>

    <ul id="example1">
        <template v-for="(item,index) in items">
            <li>{{ item.message }}</li>
            <li class="divider">{{index}}</li>
        </template>
    </ul>
    <div id="repeat">
        <div v-for="(value, key,index) of object">
            {{index}}.{{ key }} : {{ value }}
        </div>
    </div>


    <div id="repeat2">
        <span v-for="n in 10">{{ n }}</span>
    </div>
</body>

</html>
<script>
    var app = new Vue({
        el: '#example1',
        data: {
            items: [{
                message: '足球'
            }, {
                message: '篮球'
            }, {
                message: '排球'
            }]

        }
    });

    var app2 = new Vue({
        el: '#repeat',
        data: {
            object: {
                FirstName: 'John',
                LastName: 'Doe',
                Age: 30
            }
        }
    });

    var app3 = new Vue({
        el: "#repeat2"
    })
</script>